Amadeus/Service References/ConnectorService/Connector1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Connector" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://api.resvoyage.com/Connector.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://api.resvoyage.com/Connector.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://api.resvoyage.com/Connector.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GlobalReservation.Models.Web.Booking" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConnector_CreateBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBooking" />
  </wsdl:message>
  <wsdl:message name="IConnector_CreateBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IConnector_GetPNRS_XML_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPNRS_XML" />
  </wsdl:message>
  <wsdl:message name="IConnector_GetPNRS_XML_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPNRS_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="IConnector_UpdateTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTransaction" />
  </wsdl:message>
  <wsdl:message name="IConnector_UpdateTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IConnector_UpdateTransaction1_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTransaction1" />
  </wsdl:message>
  <wsdl:message name="IConnector_UpdateTransaction1_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTransaction1Response" />
  </wsdl:message>
  <wsdl:message name="IConnector_UpdateTransactionEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTransactionEmail" />
  </wsdl:message>
  <wsdl:message name="IConnector_UpdateTransactionEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTransactionEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IConnector_CreateTransactionTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTransactionTicket" />
  </wsdl:message>
  <wsdl:message name="IConnector_CreateTransactionTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTransactionTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IConnector_GetPendingBookings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingBookings" />
  </wsdl:message>
  <wsdl:message name="IConnector_GetPendingBookings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingBookingsResponse" />
  </wsdl:message>
  <wsdl:portType name="IConnector">
    <wsdl:operation name="CreateBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnector/CreateBooking" message="tns:IConnector_CreateBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnector/CreateBookingResponse" message="tns:IConnector_CreateBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPNRS_XML">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnector/GetPNRS_XML" message="tns:IConnector_GetPNRS_XML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnector/GetPNRS_XMLResponse" message="tns:IConnector_GetPNRS_XML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnector/UpdateTransaction" message="tns:IConnector_UpdateTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnector/UpdateTransactionResponse" message="tns:IConnector_UpdateTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTransaction1">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnector/UpdateTransaction1" message="tns:IConnector_UpdateTransaction1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnector/UpdateTransaction1Response" message="tns:IConnector_UpdateTransaction1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTransactionEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnector/UpdateTransactionEmail" message="tns:IConnector_UpdateTransactionEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnector/UpdateTransactionEmailResponse" message="tns:IConnector_UpdateTransactionEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTransactionTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnector/CreateTransactionTicket" message="tns:IConnector_CreateTransactionTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnector/CreateTransactionTicketResponse" message="tns:IConnector_CreateTransactionTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPendingBookings">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnector/GetPendingBookings" message="tns:IConnector_GetPendingBookings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnector/GetPendingBookingsResponse" message="tns:IConnector_GetPendingBookings_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConnector" type="tns:IConnector">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateBooking">
      <soap:operation soapAction="http://tempuri.org/IConnector/CreateBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPNRS_XML">
      <soap:operation soapAction="http://tempuri.org/IConnector/GetPNRS_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTransaction">
      <soap:operation soapAction="http://tempuri.org/IConnector/UpdateTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTransaction1">
      <soap:operation soapAction="http://tempuri.org/IConnector/UpdateTransaction1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTransactionEmail">
      <soap:operation soapAction="http://tempuri.org/IConnector/UpdateTransactionEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTransactionTicket">
      <soap:operation soapAction="http://tempuri.org/IConnector/CreateTransactionTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingBookings">
      <soap:operation soapAction="http://tempuri.org/IConnector/GetPendingBookings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Connector">
    <wsdl:port name="BasicHttpBinding_IConnector" binding="tns:BasicHttpBinding_IConnector">
      <soap:address location="http://api.resvoyage.com/Connector.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>