Amadeus/Service References/ConnectorService/Connector3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GlobalReservation.Models.Web.Booking" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GlobalReservation.Models.Web.Booking" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TransactionTicketInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Airline" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AirlineFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="AmountDue" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseFare" type="xs:decimal" />
      <xs:element minOccurs="0" name="CommissionAffiliate" type="xs:decimal" />
      <xs:element minOccurs="0" name="CommissionAgency" type="xs:decimal" />
      <xs:element minOccurs="0" name="CommissionPercent" type="xs:decimal" />
      <xs:element minOccurs="0" name="Epay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Markup" type="xs:decimal" />
      <xs:element minOccurs="0" name="Taxes" type="xs:decimal" />
      <xs:element minOccurs="0" name="TicketNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalFare" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransactionID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionTicketInfo" nillable="true" type="tns:TransactionTicketInfo" />
</xs:schema>