src/Galileo/Connected Services/wsGalileoCopyIV/ImageViewer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s0="http://webservices.galileo.com/HotelImage" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://webservices.galileo.com/HotelImage" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webservices.galileo.com/HotelImage">
      <s:element name="RetrievePhotoInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request">
              <s:complexType>
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrievePhotoInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrievePhotoInformationReturn">
              <s:complexType>
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallContext" type="s0:CallContext" />
      <s:complexType name="CallContext">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SecurityContext" type="s0:SecurityCxt" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionContext" type="s0:TransactionCxt" />
          <s:element minOccurs="0" maxOccurs="1" name="DebugContext" type="s0:DebugCxt" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SecurityCxt">
        <s:attribute name="userID" type="s:string" />
      </s:complexType>
      <s:complexType name="TransactionCxt">
        <s:attribute name="startDateTime" type="s:string" />
        <s:attribute name="tranNbr" type="s:string" />
      </s:complexType>
      <s:complexType name="DebugCxt">
        <s:attribute name="enabled" type="s:boolean" use="required" />
      </s:complexType>
    </s:schema>
  </types>
  <message name="RetrievePhotoInformationSoapIn">
    <part name="parameters" element="s0:RetrievePhotoInformation" />
  </message>
  <message name="RetrievePhotoInformationSoapOut">
    <part name="parameters" element="s0:RetrievePhotoInformationResponse" />
  </message>
  <message name="RetrievePhotoInformationCallContext">
    <part name="CallContext" element="s0:CallContext" />
  </message>
  <portType name="HotelImageServiceSoap">
    <operation name="RetrievePhotoInformation">
      <documentation>This service will return Photo information according to the requested information</documentation>
      <input message="s0:RetrievePhotoInformationSoapIn" />
      <output message="s0:RetrievePhotoInformationSoapOut" />
    </operation>
  </portType>
  <binding name="HotelImageServiceSoap" type="s0:HotelImageServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="RetrievePhotoInformation">
      <soap:operation soapAction="https://webservices.galileo.com/HotelImage/RetrievePhotoInformation" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="s0:RetrievePhotoInformationCallContext" part="CallContext" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="s0:RetrievePhotoInformationCallContext" part="CallContext" use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ImageViewer">
    <documentation>Image Viewer Web Service</documentation>
    <port name="HotelImageServiceSoap" binding="s0:HotelImageServiceSoap">
      <soap:address location="https://americas.webservices.travelport.com/B2BGateway/service/ImageViewer" />
    </port>
  </service>
</definitions>